.image{
   margin-right: 800px;
}
.login{
    height: 500px;
}
.box{
    margin-left: 150px;
}
.email-text{
    margin-left: -235px;
}
.password-text{
    margin-left: -210px;
}
.form{
    border: 2px solid aquamarine;
    margin-top: 20px;
    height: 370px;

    background-color: rgb(246, 246, 233);
}
.text{
    margin-top: 30px;
}
.link1 a{
    text-decoration: none;
}
@media only screen and (max-width: 600px) {
    .login{
        height: 750px;
    }
    .login-image{
        width: 400px;
    }
  }
