.left{
    /* background-color: rgb(246, 246, 233); */
   
    top: 100px;
   
    
}
.course-list{
    text-decoration: none;
    color: black;
    font-weight: bold;

}
.course-section{
    margin-top: 50px;
    /* background-color: rgb(246, 246, 233); */
   
    
    
}
.bbb{
    border-bottom: 2px solid rgb(222, 219, 9);
}
.main{
    display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  margin-top: 30px;
}
.list{
    margin-top: 50px;
}
@media only screen and (max-width: 600px) {
    .main{
        display: block;
     margin-left: 50px;
      margin-top: 30px;
    }
    
  }
