.link{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-left: 15px;
    
}
.link:hover{
    color: yellow;
}
.roundedCircle{
    border-radius: 20px;
    height: 30px;
    width: 30px;
}
.btnn{
    background-color:gray ;
    border: none;
    color: white;
    border-radius: 4px;
    margin-left: 10px;

}