.footer{
    height: 100px;
    background-color: black;
    position: relative;
}
.copy{
    color: white;
    
    position: absolute;
    margin: 40px auto;
    margin-left: 50%;
    
    
}

@media only screen and (max-width: 600px) {
   .footer h6{
        margin-left:150px ;
       
    }
  }