.register{
    height: 600px;
}
.form1{
    height: 500px;
    border: 2px solid aquamarine;
    margin-top: 20px;
  

    background-color: rgb(246, 246, 233);
}
.photo-text{
    margin-left: -210px;
}
a{
    text-decoration: none;
}
@media only screen and (max-width: 600px) {
    .register{
        height: 870px;
    }
    .reg-image{
        /* margin-left: -120px; */
        width: 400px;
    }
  }